@model app.com.Data.app_cus_main

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>app_cus_main</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.app_age_cate.age_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_age_cate.age_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_branch.branch_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_branch.branch_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_cus_contact.tele_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_cus_contact.tele_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_cus_doc.cus_doc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_cus_doc.cus_doc_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_cus_other_info.cus_other_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_cus_other_info.cus_other_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_cus_type.cus_type_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_cus_type.cus_type_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_kin_details.kin_details_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_kin_details.kin_details_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_occupation.occ_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_occupation.occ_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.app_rel_office.rel_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.app_rel_office.rel_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middlename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middlename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sign_img_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sign_img_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marital_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marital_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.child_num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.child_num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.home_type_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.home_type_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cus_since)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cus_since)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.credit_limit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.credit_limit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted_date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
