@model IEnumerable<app.com.Data.app_cus_main>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.app_age_cate.age_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_branch.branch_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_cus_contact.tele_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_cus_doc.cus_doc_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_cus_other_info.cus_other_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_cus_type.cus_type_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_kin_details.kin_details_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_occupation.occ_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.app_rel_office.rel_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.middlename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sign_img_url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marital_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.child_num)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.home_type_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cus_since)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.credit_limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_by)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modified_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted_date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.app_age_cate.age_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_branch.branch_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_cus_contact.tele_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_cus_doc.cus_doc_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_cus_other_info.cus_other_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_cus_type.cus_type_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_kin_details.kin_details_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_occupation.occ_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.app_rel_office.rel_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.middlename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sign_img_url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marital_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.child_num)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.home_type_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cus_since)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.credit_limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_by)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modified_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted_date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
