@model IEnumerable<app.com.Data.app_cus_main>

@{
    ViewBag.Title = "Index";

}
<div class="loading-container">
    <div class="loader"></div>
</div>




   @* new grid*@

    <div class="row">

        <div class="widget-body">
            <div class="table-toolbar">
                <a id="editabledatatable_new" href="@Url.Action("CreateCustomer", "cus")" class="btn btn-default">
                    Add New Customer
                </a>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" href="javascript:void(0);">Tools</a>
                    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu dropdown-default">
                        <li>
                            <a href="javascript:void(0);">Action</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Another action</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Something else here</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="javascript:void(0);">Separated link</a>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                <thead>
                    <tr role="row">
                        <th>
                            Full Name
                        </th>
                        <th>
                            Gender
                        </th>
                        @*<th>
                            Customer Type
                        </th>*@
                        <th>
                            Telephone
                        </th>
                        <th>
                            Verification ID
                        </th>
                        <th>
                           Date of Birth
                        </th>
                        
                        <th>E-mail</th>
                        <th>Date Joined</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
@foreach (var item_ in Model)
{
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item_.full_name)</td>
                        <td>@Html.DisplayFor(modelItem => item_.app_gender.sex)</td>
                        <td class="center ">
                            @Html.DisplayFor(modelItem => item_.app_cus_contact.tele_number)
                    </td>
                        <td>@Html.DisplayFor(modelItem => item_.app_cus_other_info.verification_id)</td>
                        <td>@Html.DisplayFor(modelItem => item_.dob)</td>
                        <td>@Html.DisplayFor(modelItem => item_.app_cus_contact.email)</td>
                        <td>@Html.DisplayFor(modelItem => item_.cus_since)</td>
                    
                       
                        <td width="130">

                            <a href="@Url.Action("EditCustomer", "cus", new { id = item_.id })" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i>Edit</a>
                          @*  <a href="@Url.Action("DelCustomer", "cus",new { id=item_.id })" class="btn btn-danger btn-xs delete"><i class="fa fa-trash-o"></i>Delete</a>*@
                            <a href="@Url.Action("DetailsCustomer", "cus", new { id = item_.id })" class="btn btn-info btn-xs edit"><i class="fa fa-edit"></i>View</a>

                        </td>
                    </tr>
}
               
                </tbody>

            </table>
        </div>

    </div>




@{
    ViewBag.Title = "Customer";
    ViewBag.Description = "Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section PageScripts{
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatable/ZeroClipboard.js"></script>
    <script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="~/assets/js/datatable/datatables-init.js"></script>
    <script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
        InitiateExpandableDataTable.init();

    </script>
}